body{
	margin: 0px;
	padding: 0px;
}
.header{
	width: 100VW;
	height: 10VH;
	background-color: darkgray;
	overflow: auto;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	padding-left: 50px;
}
.header p{
	color: white;
	font-size: 25px;
	margin-right: 75px;
}


.middle{
	width: 100VW;
	height: 80VH;
	background-color: white;
	overflow: auto;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}
.left-side{
	width: 50VW;
	padding-left: 2.5%;
	padding-right: 1.5%
}
.left-side h1{
	font-size: 50px;
}
.right-side{
	width: 50VW;
	padding-top: 20px;
}
.image{
	width: 95%;
	height: 500px;
	margin: 0 auto;
	background-image: url(nature2.jpg);
}
.text-under{
	width: 95%;
	margin: 0 auto;
}


.footer{
	width: 100VW;
	height: 10VH;
	padding-left: 50px;
	background-color: darkgray;
	overflow: auto
}